@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/hotels")

@section scripts {
    <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
}
<div ng-app="Hotels" ng-controller="HotelsController" class="container" ng-cloak>
    <div ng-show="error">{{error}}</div>
    <div ng-show="hotels">
        <h2>Hotels</h2>
        <div>

            <table ng-table="hotels" class="table" show-filter="true">
                <tr ng-repeat="hotel in $data">
                    <td title="'Name'" class="col-md-3" filter="{ Name: 'text'}">{{ hotel.Name }}</td>
                    <td title="'Address'" class="col-md-8" filter="{ Address: 'text'}">{{ hotel.Address }}</td>
                    <td class="col-md-1">
                        <a ng-href="#" ng-click="showDetails(hotel.Id)">Details</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <br />
    <div ng-show="hotel.Id">
        <h3>{{ hotel.Name }}</h3>
        <div class="row"><address> {{ hotel.Address }}</address></div>
        <div class="row">{{ hotel.Description }}</div>
        <br />
        <div class="row">
            <div class="gallery_product col-md-4" ng-repeat="details in hotel.HotelDetails">
                <img ng-src="{{details.ImageUrl}}" class="img-responsive" />
            </div>
        </div>
    </div>
</div>