<div ng-show="error">{{error}}</div>
<div ng-show="hotels">
    <h2>Hotels</h2>
    <div>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="hotel in hotels">
                <td class="col-md-3">{{ hotel.Name }}</td>
                <td class="col-md-8">{{ hotel.Address }}</td>
                <td class="col-md-1">
                    <input class="btn" type="button" value="Details" ng-click="showImages(hotel.Id)" />
                </td>
            </tr>


        </table>
    </div>
</div>
